body {
    background-color: rgb(27, 33, 39);
    color: white;
    padding-top: 15px;
    padding-bottom:1%;
    max-width: 800px;
    margin: 0 auto;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bigPrice {
    color: rgb(240, 46, 170);
    display: grid;
/*     padding: 15px 20px; */
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    justify-items: center;
    margin: 10vh 0px 10px 0px;
}
.currency {
    font-size: 24pt;
    color: rgb(240, 46, 170);
}
.inputCard {
    text-align: center;
    font-weight: bold;
    font-size: 14pt;
    color: rgb(240, 46, 170);
    box-shadow: rgb(240, 46, 170) 0px 25px 20px -20px, rgba(240, 46, 170, 1) 0px -15px 20px -20px;
}
.buttons {
    display: grid;
    padding: 25px 25px;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    margin:auto;
    /* 
    box-shadow: rgba(240, 46, 170, 0.45) 0px 25px 75px -23px;
    */
    transition: all 1s;
    max-width: 90vw;

}

.buttons:hover {
    /* border-radius: 10%; */
     /* box-shadow: rgba(235, 23, 157, 0.644) 0px 25px 125px -23px;*/
}
.montoCorregido {
    box-shadow: rgba(255, 0, 255, 0.55) 10px 10px 20px 1px,
        rgba(0, 255, 255, 0.25) -10px -10px 20px 0px;
}
.error {
    text-align: center;
    font-weight: bold;
    font-size: 16pt;
    box-shadow: rgba(255, 0, 255, 0.55) 10px 10px 20px 1px,
        rgba(0, 255, 255, 0.25) -10px -10px 20px 0px;
}
.label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}